// text colors
$text-primary: #d3e0ea;
$text-secondary: #ececec;
$hover-primary: #ff1e56;
// background colors
$bg-secondary: #272727;
$bg-body: #323232;
// border-radius
$border-radius-5: 5px;
$border-radius-10: 10px;
