.episode-page {
  display: flex;
  flex-wrap: wrap;
  .episode-card {
    background-color: $bg-body;
    border-radius: $border-radius-5;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.2rem 1rem;
    p {
      margin: 0.8rem 0;
    }
  }
  .episode-title {
    color: $hover-primary;
    margin: 0.8rem 0 0 0;
  }
}
