@import './stylesheets/Variables';

@import './components/navbar/Navbar';
@import './components/pages/home/Home';
@import './components/pages/top-anime/TopAnime';
@import './components/pages/seasonal-anime/SeasonalAnime';
@import './components/pages/anime/Anime';
@import './components/anime-card/AnimeCard';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $bg-body;
  color: $text-primary;
}
.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.anime-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
