.anime-card {
  background-color: $bg-secondary;
  border-radius: 5px;
  width: 260px;
  height: 420px;
  margin: 10px;
  a {
    text-decoration: none;
    color: $text-primary;
  }
}
.anime-card-image {
  height: 320px;
  width: 260px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.anime-card-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  p {
    padding: 0;
    margin: 0;
  }
}
.anime-card-title {
  color: $hover-primary;
}
