.anime-card {
  background-color: $bg-secondary;
  border-radius: $border-radius-5;
  box-shadow: 5px 5px 5px $shadow-dark-grey;
  width: 260px;
  height: 470px;
  margin: 10px;
  a {
    text-decoration: none;
    color: $text-primary;
  }
}
.anime-card-rank-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  position: absolute;
  background-color: $bg-secondary;
  border-top-left-radius: $border-radius-5;
  border-bottom-right-radius: $border-radius-5;
  text-align: center;
  height: 40px;
}
.anime-card-rank {
  color: $hover-primary;
}
.anime-card-image {
  height: 320px;
  width: 260px;
  border-top-left-radius: $border-radius-5;
  border-top-right-radius: $border-radius-5;
}
.anime-card-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  p {
    padding: 0;
    margin: 0;
  }
}
.anime-card-title {
  color: $hover-primary;
}
